# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nuuk,GL,64.1835,-51.7216,34.41,86,75,11.50,broken clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,55.51,50,0,23.02,clear sky
2,2,Hamilton,US,39.1834,-84.5333,73.63,34,0,4.61,clear sky
3,3,Lagoa,PT,39.0500,-27.9833,70.56,83,99,16.40,overcast clouds
4,4,Solnechnyy,RU,50.7214,136.6319,28.53,77,77,3.51,broken clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Tabou,CI,4.4230,-7.3528,76.35,92,80,6.13,broken clouds
680,680,Nisia Floresta,BR,-6.0911,-35.2086,86.38,66,21,12.01,few clouds
681,681,Escanaba,US,45.7453,-87.0646,76.51,48,92,8.19,overcast clouds
682,682,Yokadouma,CM,3.5167,15.0500,69.06,98,100,1.34,light rain
683,683,Wewak,PG,-3.5534,143.6268,79.68,85,94,6.76,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?40
What is the maximum temperature you would like for your vacation?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & 
                                       (city_data_df["Max Temp"]<=max_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Punta Arenas,CL,-53.1500,-70.9167,55.51,50,0,23.02,clear sky
2,2,Hamilton,US,39.1834,-84.5333,73.63,34,0,4.61,clear sky
3,3,Lagoa,PT,39.0500,-27.9833,70.56,83,99,16.40,overcast clouds
6,6,Hithadhoo,MV,-0.6000,73.0833,82.33,70,100,16.91,overcast clouds
7,7,Hasaki,JP,35.7333,140.8333,80.22,84,91,12.37,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Tabou,CI,4.4230,-7.3528,76.35,92,80,6.13,broken clouds
680,680,Nisia Floresta,BR,-6.0911,-35.2086,86.38,66,21,12.01,few clouds
681,681,Escanaba,US,45.7453,-87.0646,76.51,48,92,8.19,overcast clouds
682,682,Yokadouma,CM,3.5167,15.0500,69.06,98,100,1.34,light rain
683,683,Wewak,PG,-3.5534,143.6268,79.68,85,94,6.76,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Punta Arenas,CL,-53.1500,-70.9167,55.51,50,0,23.02,clear sky
2,2,Hamilton,US,39.1834,-84.5333,73.63,34,0,4.61,clear sky
3,3,Lagoa,PT,39.0500,-27.9833,70.56,83,99,16.40,overcast clouds
6,6,Hithadhoo,MV,-0.6000,73.0833,82.33,70,100,16.91,overcast clouds
7,7,Hasaki,JP,35.7333,140.8333,80.22,84,91,12.37,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Tabou,CI,4.4230,-7.3528,76.35,92,80,6.13,broken clouds
680,680,Nisia Floresta,BR,-6.0911,-35.2086,86.38,66,21,12.01,few clouds
681,681,Escanaba,US,45.7453,-87.0646,76.51,48,92,8.19,overcast clouds
682,682,Yokadouma,CM,3.5167,15.0500,69.06,98,100,1.34,light rain
683,683,Wewak,PG,-3.5534,143.6268,79.68,85,94,6.76,overcast clouds

In [11]:
# Double checking for empty rows
#clean_travel_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()

# Display sample data
hotel_df

               City Country  Max Temp Current Description      Lat       Lng
1      Punta Arenas      CL     55.51           clear sky -53.1500  -70.9167
2          Hamilton      US     73.63           clear sky  39.1834  -84.5333
3             Lagoa      PT     70.56     overcast clouds  39.0500  -27.9833
6         Hithadhoo      MV     82.33     overcast clouds  -0.6000   73.0833
7            Hasaki      JP     80.22     overcast clouds  35.7333  140.8333
..              ...     ...       ...                 ...      ...       ...
679           Tabou      CI     76.35       broken clouds   4.4230   -7.3528
680  Nisia Floresta      BR     86.38          few clouds  -6.0911  -35.2086
681        Escanaba      US     76.51     overcast clouds  45.7453  -87.0646
682       Yokadouma      CM     69.06          light rain   3.5167   15.0500
683           Wewak      PG     79.68     overcast clouds  -3.5534  143.6268

[574 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Punta Arenas,CL,55.51,clear sky,-53.1500,-70.9167,
2,Hamilton,US,73.63,clear sky,39.1834,-84.5333,
3,Lagoa,PT,70.56,overcast clouds,39.0500,-27.9833,
6,Hithadhoo,MV,82.33,overcast clouds,-0.6000,73.0833,
7,Hasaki,JP,80.22,overcast clouds,35.7333,140.8333,
...,...,...,...,...,...,...,...
679,Tabou,CI,76.35,broken clouds,4.4230,-7.3528,
680,Nisia Floresta,BR,86.38,few clouds,-6.0911,-35.2086,
681,Escanaba,US,76.51,overcast clouds,45.7453,-87.0646,
682,Yokadouma,CM,69.06,light rain,3.5167,15.0500,
683,Wewak,PG,79.68,overcast clouds,-3.5534,143.6268,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Punta Arenas,CL,55.51,clear sky,-53.1500,-70.9167,Hotel Hain
2,Hamilton,US,73.63,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
3,Lagoa,PT,70.56,overcast clouds,39.0500,-27.9833,Casa Das Faias
6,Hithadhoo,MV,82.33,overcast clouds,-0.6000,73.0833,Scoop Guest House
7,Hasaki,JP,80.22,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
...,...,...,...,...,...,...,...
679,Tabou,CI,76.35,broken clouds,4.4230,-7.3528,hotÃªl doufoulougou
680,Nisia Floresta,BR,86.38,few clouds,-6.0911,-35.2086,Rancho Crepusculo
681,Escanaba,US,76.51,overcast clouds,45.7453,-87.0646,Sunset Lodge
682,Yokadouma,CM,69.06,light rain,3.5167,15.0500,HÃ´tel De Ville De Yokadouma
683,Wewak,PG,79.68,overcast clouds,-3.5534,143.6268,In Wewak Boutique Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [28]:
#Testing to see which rows are empty
clean_hotel_df_test = hotel_df.loc[hotel_df["Hotel Name"]== ""]
clean_hotel_df_test

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
20,Airai,TL,61.41,overcast clouds,-8.9266,125.4092,
25,Avera,US,76.51,clear sky,33.1940,-82.5271,
54,Albany,US,59.25,overcast clouds,42.6001,-73.9662,
84,Mackenzie,CA,52.02,clear sky,55.2999,-123.1698,
113,Turkistan,KZ,55.94,clear sky,43.0000,68.0000,
124,Sobolevo,RU,42.94,overcast clouds,54.4299,31.8996,
162,Boende,CD,76.60,overcast clouds,-0.2167,20.8667,
164,Elko,US,70.74,clear sky,41.0002,-115.5012,
191,Nsunga,TZ,65.71,scattered clouds,-1.1439,31.3947,
201,Qandala,SO,87.66,overcast clouds,11.4720,49.8728,
219,Kunya,NG,82.56,clear sky,12.2233,8.5325,
238,Yaan,NG,75.31,broken clouds,7.3833,8.5667,
264,Liusha,CN,55.11,scattered clouds,27.2098,108.5900,
276,Herat,AF,64.11,clear sky,34.5000,62.0000,
287,Weihe,CN,52.66,overcast clouds,32.9952,105.3247,
290,Yumen,CN,45.48,overcast clouds,40.2833,97.2000,
300,Tiznit,MA,74.93,clear sky,29.5833,-9.5000,
385,Luebo,CD,75.70,broken clouds,-5.3500,21.4167,
395,Sibut,CF,73.06,overcast clouds,5.7180,19.0739,
412,Naberera,TZ,62.71,clear sky,-4.2000,36.9333,
425,Thinadhoo,MV,81.39,overcast clouds,0.5333,72.9333,
427,Shalakusha,RU,49.23,overcast clouds,62.2247,40.2539,
446,Ostrovnoy,RU,45.34,overcast clouds,68.0531,39.5131,
467,Akrini,GR,51.57,few clouds,40.4333,21.9000,
478,Kemi,FI,40.77,few clouds,65.8596,24.8228,
481,Beloha,MG,67.35,clear sky,-25.1667,45.0500,
512,Lusambo,CD,74.91,scattered clouds,-4.9667,23.4500,
514,Cujmir,RO,52.92,few clouds,44.2067,22.9267,
527,Savinka,RU,59.20,overcast clouds,50.0785,47.0994,
552,Dustlik,UZ,53.96,clear sky,40.5247,68.0358,
569,Bongandanga,CD,75.88,overcast clouds,1.5000,21.0500,
593,Korsakovo,RU,44.46,overcast clouds,53.2677,37.3569,
630,Zholymbet,KZ,40.78,broken clouds,51.7433,71.7122,
654,Poum,NC,72.52,clear sky,-20.2333,164.0167,
675,Parfenyevo,RU,48.52,broken clouds,58.4840,43.4088,

In [39]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df.loc[hotel_df["Hotel Name"] == ""].index)
# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Punta Arenas,CL,55.51,clear sky,-53.1500,-70.9167,Hotel Hain
2,Hamilton,US,73.63,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
3,Lagoa,PT,70.56,overcast clouds,39.0500,-27.9833,Casa Das Faias
6,Hithadhoo,MV,82.33,overcast clouds,-0.6000,73.0833,Scoop Guest House
7,Hasaki,JP,80.22,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
...,...,...,...,...,...,...,...
679,Tabou,CI,76.35,broken clouds,4.4230,-7.3528,hotÃªl doufoulougou
680,Nisia Floresta,BR,86.38,few clouds,-6.0911,-35.2086,Rancho Crepusculo
681,Escanaba,US,76.51,overcast clouds,45.7453,-87.0646,Sunset Lodge
682,Yokadouma,CM,69.06,light rain,3.5167,15.0500,HÃ´tel De Ville De Yokadouma
683,Wewak,PG,79.68,overcast clouds,-3.5534,143.6268,In Wewak Boutique Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [40]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file,index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [41]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [42]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>clear sky and 55.51 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Six Acres Bed & Breakfast</dd>\n<dt>City</dt><dd>Hamilton</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.63 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Das Faias</dd>\n<dt>City</dt><dd>Lagoa</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 70.56 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.33 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Inubosaki Kanko Hotel</dd>\n<dt>City</dt><dd>Hasaki</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.22 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.16 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 40.26 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.26 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hampton Inn & Suites Jamestown</dd>\n<dt>City</dt><dd>Jamestown</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 61.05 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Comfort Inn & Suites</dd>\n<dt>City</dt><dd>Susanville</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.81 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [43]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -53.1500  -70.9167
2   39.1834  -84.5333
3   39.0500  -27.9833
6   -0.6000   73.0833
7   35.7333  140.8333
8  -21.2000 -175.2000
9  -42.8794  147.3294
10  10.9995  122.6711
12  42.0970  -79.2353
13  40.4163 -120.6530

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [50]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))